.nome,
.sobrenome,
.aniversario {
    padding: 0,5rem;
    text-align: center;
    color: rgb(44, 35, 35);
}
.livia,
.rocha,
.novembro {
    padding: 0,5rem;
    text-align: center;
    color: rgb(44, 35, 35);
}
